$breakpoint-tablet: 512px;
.mera-main {
  margin: 6em 1em;
  background-color: #e5e5e5;
  @media (max-width: $breakpoint-tablet) {
    margin: 6em 0em;
  }
}
fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
}

.box {
  flex: 1;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 20em;
  @media (max-width: $breakpoint-tablet) {
    min-width: 18em;
  }
}

.keyLabel {
  font-weight: 800;
}
