<mat-toolbar color="accent" class="toolbarDiv mat-elevation-z2">
  <button mat-button routerLink="/home">
    <img
      mat-card-avatar
      src="../../assets/logo.ico"
      style="width: 3em; border-radius: 2em"
    /><span
      class="appnamediv"
      style="padding-left: 0.5em; font-size: 1.5em"
      [innerText]="auth.t('RD कलेक्टर')"
    ></span>
  </button>
  <!-- <span class="max-spacer"></span> -->
  <h1 [innerText]="tag[currentTitle]" *ngIf="!translationPending"></h1>
  <!-- <span class="max-spacer"></span> -->
  <div class="expanded">
    <h3
      class="greeting fadeOut"
      [innerText]="'Welcome ' + (auth.curUser ? auth.curUser.displayName : '')"
      [ngStyle]="{ display: showGreeting ? 'block' : 'none' }"
    ></h3>
    <button class="menuItems" mat-icon-button routerLink="/home">🏡</button>
    <button class="menuItems" mat-icon-button (click)="languageChange()">
      {{ curLanguage === Language.HI ? "अ" : "En" }}
    </button>
    <button
      class="menuItems"
      mat-icon-button
      routerLink="/new-account"
      *ngIf="auth.curUser && auth.curUser.type === Usertype.A"
    >
      ➕
    </button>
    <button class="menuItems" mat-icon-button (click)="auth.signOut()">
      <mat-icon style="font-size: 1.5em">power_settings_new</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    class="contract"
    [matMenuTriggerFor]="menu"
    aria-label="menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <!-- hide all above icons if there are too many icons -->
  <mat-menu #menu="matMenu">
    <button class="phoneBtn" mat-menu-item routerLink="/home">
      🏡
      <div></div>
      {{ auth.t("होम स्क्रीन") }}
    </button>
    <button class="phoneBtn" mat-menu-item (click)="languageChange()">
      <div>
        {{
          curLanguage === Language.HI
            ? "भाषा बदले (English)"
            : "Translate to (हिंदी)"
        }}
      </div>
    </button>
    <button
      class="phoneBtn"
      mat-menu-item
      routerLink="/new-account"
      *ngIf="auth.curUser && auth.curUser.type === Usertype.A"
    >
      ➕
      <div></div>
      <span [innerText]="auth.t('नया खाता')"></span>
    </button>
    <button class="phoneBtn" mat-menu-item (click)="auth.signOut()">
      <mat-icon>power_settings_new</mat-icon>
      <div>{{ curLanguage === Language.HI ? "बंद करे" : "Log out" }}</div>
    </button>
  </mat-menu>
</mat-toolbar>
