.max-spacer {
  flex: 1 1 auto;
}
.expanded {
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.contract {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}
h3 {
  display: block;
  @media screen and (max-width: 49em) {
    display: none;
  }
}
h1 {
  font-weight: 500;
  font-size: 1.3em;
}
mat-toolbar {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
}
.appnamediv {
  display: inherit;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.toolbarDiv {
  display: flex;
  justify-content: space-between;
}
.greeting {
  flex: 1;
  font-size: 1.1em;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.menuItems {
  flex: 1;
  font-size: xx-large;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
// http://jsfiddle.net/clankill3r/L8hktsgn/
.phoneBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-menu {
  display: flex;
  flex-direction: column;
}
