<mat-toolbar mat-primary class="toolbarDiv mat-elevation-z2">
  <button
    mat-button
    routerLink="/home"
    [disabled]="!authenticationService.isLoggedIn()"
  >
    <div class="logoDiv">
      <img
        mat-card-avatar
        src="../../assets/logo.ico"
        style="width: 3em; border-radius: 2em"
      /><span
        class="appnamediv"
        style="padding-left: 0.5em; font-size: 1.5em"
        [innerText]="env.appName"
      ></span>
    </div>
  </button>
  <h1 [innerText]="currentTitle()?.label"></h1>
  <div class="expanded">
    @if(authenticationService.isLoggedIn()){
    <h3
      class="greeting fadeOut"
      [innerText]="'Welcome ' + authenticationService.user()?.displayName"
      [ngStyle]="{ display: showGreeting() ? 'block' : 'none' }"
    ></h3>
    } @if(authenticationService.isLoggedIn()){@for (headerAction of
    headerActions(); track headerActions) {
    <button
      mat-button
      [ngClass]="headerAction.styleClass"
      (click)="headerAction.action(headerAction.param)"
    >
      {{ headerAction.label }}
      @if(headerAction.innerIcon !== undefined){
      <mat-icon
        inline="true"
        fontIcon="{{ headerAction.innerIcon.fontIcon }}"
      ></mat-icon>
      }
    </button>
    }}
    <!-- <button mat-button class="menuItems logoDiv" (click)="toggleTheme()"> -->
    <div class="menuItems" (click)="toggleTheme()">
      <mat-icon
        inline="true"
        [fontIcon]="themeService.darkMode() ? 'brightness_7' : 'dark_mode'"
      ></mat-icon>
    </div>
    <!-- </button> -->
  </div>
  <button
    mat-icon-button
    class="contract"
    [matMenuTriggerFor]="menu"
    aria-label="menu icon"
  >
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <!-- hide all above icons if there are too many icons -->
  <mat-menu #menu="matMenu">
    @if(authenticationService.isLoggedIn()){@for (headerAction of
    headerActions(); track headerActions) {
    <button
      class="phoneBtn"
      mat-menu-item
      (click)="headerAction.action(headerAction.param)"
    >
      @if(headerAction.innerIcon !== undefined){
      <mat-icon fontIcon="{{ headerAction.innerIcon.fontIcon }}"></mat-icon>
      }
      <div>{{ headerAction.mobileLabel }}</div>
    </button>
    }}
    <button class="phoneBtn" mat-menu-item (click)="toggleTheme()">
      <mat-icon
        [fontIcon]="themeService.darkMode() ? 'brightness_7' : 'dark_mode'"
      ></mat-icon>
      <div>Switch Theme</div>
    </button>
  </mat-menu>
</mat-toolbar>
