.main-404 {
  background-color: #e5e5e5;
  height: -webkit-fill-available;
  padding-top: 6em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 1em;
}

img {
  width: 14em;
}
