h1 {
  color: white;
}

mat-card {
  background-color: #dbdbdb9f;
  max-width: 18.5em;
  padding: 0em 1em 1em 1em;
}

.login-body {
  height: 100%;
  display: flex;
  place-items: center;
  background-color: #ef5454;
  justify-content: center;
}

fieldset {
  border-width: 0.4em;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
button {
  height: 5em;
}
.btn-label {
  display: flex;
}

.local-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
