<div class="new-account">
  <mat-card class="form-card mat-elevation-z4">
    <form
      [formGroup]="accountForm"
      #accountFormGroupDirective="ngForm"
      [ngStyle]="{ display: !loaderFlag ? 'block' : 'none' }"
    >
      <div class="formfields">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>खाता नंबर</mat-label>
          <input
            autocomplete="off"
            matInput
            type="text"
            formControlName="AccountNo"
          />
          <button
            *ngIf="accountForm.value.AccountNo"
            matSuffix
            mat-icon-button
            (click)="accountForm.patchValue({ AccountNo: '' })"
          >
            <mat-icon>close</mat-icon></button
          ><mat-error
            *ngIf="accountForm.controls['AccountNo'].hasError('required')"
          >
            <span>खाता नंबर <strong>जरूरी</strong> हैं</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>खाता धारक का नाम</mat-label>
          <input
            autocomplete="off"
            matInput
            type="text"
            formControlName="AccountName"
            #AccNameInput
            [disabled]="editAccountNo !== ''"
          />
          <button
            *ngIf="accountForm.value.AccountName"
            matSuffix
            mat-icon-button
            (click)="accountForm.patchValue({ AccountName: '' })"
          >
            <mat-icon>close</mat-icon></button
          ><mat-error
            *ngIf="accountForm.controls['AccountName'].hasError('required')"
          >
            <span>खाता धारक का नाम <strong>जरूरी</strong> हैं</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>कार्ड नंबर</mat-label>
          <input
            autocomplete="off"
            matInput
            type="text"
            formControlName="CardNo"
          />
          <button
            *ngIf="accountForm.value.CardNo"
            matSuffix
            mat-icon-button
            (click)="accountForm.patchValue({ CardNo: '' })"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- start date -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>खाता आरंभ करने की तारीख</mat-label>
          <input
            autocomplete="off"
            matInput
            [matDatepicker]="picker"
            formControlName="RdStartDate"
            (change)="installmentOrStartDateChange()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker
          ><mat-error
            *ngIf="accountForm.controls['RdStartDate'].hasError('required')"
          >
            <span>आरंभ करने की तारीख डालना <strong>जरूरी</strong> हैं</span>
          </mat-error>
        </mat-form-field>

        <span>{{ tempRdEndDate | date : "dd-MMM-yyyy" }}</span>
        <mat-form-field
          class="form-field2"
          appearance="fill"
          *ngIf="this.editAccountNo || accountForm.value.RdStartDate"
        >
          <button
            matPrefix
            mat-icon-button
            (click)="
              accountForm.patchValue(
                {
                  Period: accountForm.value.Period + 5
                },
                { emitEvent: true, onlySelf: true }
              );
              calcEndDate()
            "
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-label>साल</mat-label>
          <input
            autocomplete="off"
            matInput
            type="number"
            formControlName="Period"
            (change)="calcEndDate()"
          />
          <button
            matSuffix
            mat-icon-button
            *ngIf="accountForm.value.Period > 0"
            (click)="
              accountForm.patchValue(
                {
                  Period:
                    accountForm.value.Period > 5
                      ? accountForm.value.Period - 5
                      : 0
                },
                { emitEvent: true, onlySelf: true }
              );
              calcEndDate()
            "
          >
            <mat-icon>remove</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>किस्त</mat-label>
          <input
            autocomplete="off"
            matInput
            type="number"
            formControlName="Installment"
            (change)="installmentOrStartDateChange()"
          />
          <button
            *ngIf="accountForm.value.Installment"
            matSuffix
            mat-icon-button
            (click)="accountForm.patchValue({ Installment: '' })"
          >
            <mat-icon>close</mat-icon></button
          ><mat-error
            *ngIf="accountForm.controls['Installment'].hasError('required')"
          >
            <span>किस्त डालना <strong>जरूरी</strong> हैं</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>नॉमिनी का नाम</mat-label>
          <input
            autocomplete="off"
            matInput
            type="text"
            formControlName="Nominee"
          />
          <button
            *ngIf="accountForm.value.Nominee"
            matSuffix
            mat-icon-button
            (click)="accountForm.patchValue({ Nominee: '' })"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>स.ई.फ. नंबर</mat-label>
          <input
            autocomplete="off"
            matInput
            type="text"
            formControlName="CIFNo"
          />
          <button
            *ngIf="accountForm.value.CIFNo"
            matSuffix
            mat-icon-button
            (click)="accountForm.patchValue({ CIFNo: '' })"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="phoneDiv">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>फोन नंबर</mat-label>
            <input
              autocomplete="off"
              matInput
              type="text"
              formControlName="Phoneno"
            />
            <button
              *ngIf="accountForm.value.Phoneno"
              matSuffix
              mat-icon-button
              (click)="accountForm.patchValue({ Phoneno: '' })"
            >
              <mat-icon>close</mat-icon></button
            ><mat-error
              *ngIf="accountForm.controls['Phoneno'].hasError('pattern')"
            >
              <span>फोन नंबर <strong>गलत</strong> है</span>
            </mat-error>
          </mat-form-field>

          <mat-slide-toggle formControlName="Whatsapp"
            ><img class="imgIcon" [src]="['whatsapp-logo.svg']"
          /></mat-slide-toggle>
        </div>
        <mat-slide-toggle formControlName="Enabled"
          >खता चालू है
        </mat-slide-toggle>
        <div
          class="centered"
          [ngStyle]="{
            display: accountForm.value.Enabled ? 'flex' : 'none'
          }"
        >
          <mat-form-field class="form-field" appearance="fill"
            ><button
              matPrefix
              mat-icon-button
              *ngIf="accountForm.value.Installment || curAccountObj.Installment"
              (click)="
                accountForm.patchValue(
                  {
                    AmountBilled:
                      accountForm.value.AmountBilled +
                      (accountForm.value.Installment ||
                        curAccountObj.Installment)
                  },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>add</mat-icon>
            </button>
            <mat-label>बिल की गई राशि</mat-label>
            <input
              autocomplete="off"
              matInput
              type="number"
              formControlName="AmountBilled"
            />
            <button
              *ngIf="accountForm.value.AmountBilled"
              matSuffix
              mat-icon-button
              (click)="
                accountForm.patchValue(
                  { AmountBilled: 0 },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              matSuffix
              mat-icon-button
              *ngIf="accountForm.value.Installment || curAccountObj.Installment"
              (click)="
                accountForm.patchValue(
                  {
                    AmountBilled:
                      accountForm.value.AmountBilled > 0
                        ? accountForm.value.AmountBilled -
                          (accountForm.value.Installment ||
                            curAccountObj.Installment)
                        : 0
                  },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <button
              matPrefix
              mat-icon-button
              *ngIf="accountForm.value.Installment || curAccountObj.Installment"
              (click)="
                accountForm.patchValue(
                  {
                    AmountPaid:
                      accountForm.value.AmountPaid +
                      (accountForm.value.Installment ||
                        curAccountObj.Installment)
                  },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>add</mat-icon>
            </button>
            <mat-label>भुगतान राशि</mat-label>
            <input
              autocomplete="off"
              matInput
              type="number"
              formControlName="AmountPaid"
            />
            <button
              *ngIf="accountForm.value.AmountPaid"
              matSuffix
              mat-icon-button
              (click)="
                accountForm.patchValue(
                  { AmountPaid: 0 },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              matSuffix
              mat-icon-button
              *ngIf="accountForm.value.Installment || curAccountObj.Installment"
              (click)="
                accountForm.patchValue(
                  {
                    AmountPaid:
                      accountForm.value.AmountPaid > 0
                        ? accountForm.value.AmountPaid -
                          (accountForm.value.Installment ||
                            curAccountObj.Installment)
                        : 0
                  },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <button
              matPrefix
              mat-icon-button
              *ngIf="accountForm.value.Installment || curAccountObj.Installment"
              (click)="
                accountForm.patchValue(
                  {
                    AmountCollected:
                      accountForm.value.AmountCollected +
                      (accountForm.value.Installment ||
                        curAccountObj.Installment)
                  },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>add</mat-icon>
            </button>
            <mat-label>कलेक्शन राशि</mat-label>
            <input
              autocomplete="off"
              matInput
              type="number"
              formControlName="AmountCollected"
            />
            <button
              *ngIf="accountForm.value.AmountCollected"
              matSuffix
              mat-icon-button
              (click)="
                accountForm.patchValue(
                  { AmountCollected: 0 },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              matSuffix
              mat-icon-button
              *ngIf="accountForm.value.Installment || curAccountObj.Installment"
              (click)="
                accountForm.patchValue(
                  {
                    AmountCollected:
                      accountForm.value.AmountCollected > 0
                        ? accountForm.value.AmountCollected -
                          (accountForm.value.Installment ||
                            curAccountObj.Installment)
                        : 0
                  },
                  { emitEvent: true, onlySelf: true }
                )
              "
            >
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="editActionDiv">
        <button
          mat-raised-button
          color="accent"
          (click)="createNewRecord(editAccountNo ? 'U' : 'C')"
          [disabled]="
            editAccountNo
              ? !accountForm.valid || !editAccountChange
              : !accountForm.valid
          "
          [innerText]="editAccountNo ? 'सुधार करें' : 'खता बनाए'"
        ></button>
        <button mat-raised-button color="primary" routerLink="/home">
          पीछे जाये ⬅
        </button>
      </div>
    </form>
    <app-loader *ngIf="loaderFlag"></app-loader>
  </mat-card>
</div>
