.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 95%;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.thick {
  height: 2.5em;
}
