.dots-6 {
  width: 32px;
  height: 32px;
  --c: radial-gradient(farthest-side, currentColor 90%, #0000);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: d6 1s infinite;
  color: #ef5454;
}

@keyframes d6 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  40%,
  50% {
    background-position: 100% 100%, 100% 0, 0 0, 0 100%;
  }
  90%,
  100% {
    background-position: 100% 100%, 0 100%, 0 0, 100% 0;
  }
}
