@use "@angular/material" as mat;
@use "../m3-theme.scss";

.dark-theme {
  @include mat.all-component-colors(m3-theme.$dark-theme);
}

html,
body {
  @include mat.all-component-themes(m3-theme.$light-theme);
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
.snacks.mat-snack-bar-container {
  background-color: aliceblue;
  color: #000;
}

.imgIcon {
  width: 2.2em;
}

.only-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.only-pc {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

@include mat.core();
@include mat.color-variants-backwards-compatibility(m3-theme.$light-theme);
