@use "@angular/material" as mat;

$mat-rd-accent: (
  50: #ef5454,
  100: #ef5454,
  200: #ef5454,
  300: #ef5454,
  400: #ef5454,
  500: #ef5454,
  600: #ef5454,
  700: #ef5454,
  800: #ef5454,
  900: #ef5454,
  A100: #ef5454,
  A200: #ef5454,
  A400: #ef5454,
  A700: #ef5454,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);

$mat-rd-primary: (
  50: #bdbdbd,
  contrast: (
    50: #bdbdbd,
  ),
);

$rd-collector-ang-primary: mat.define-palette(mat.$grey-palette, 900);
$rd-collector-ang-accent: mat.define-palette($mat-rd-accent);
$rd-collector-ang-warn: mat.define-palette(mat.$red-palette, 500);

$rd-collector: mat.define-light-theme(
  (
    color: (
      primary: $rd-collector-ang-primary,
      accent: $rd-collector-ang-accent,
      warn: $rd-collector-ang-warn,
    ),
  )
);

@include mat.legacy-button-theme($rd-collector);
@include mat.toolbar-theme($rd-collector);
@include mat.legacy-table-theme($rd-collector);
@include mat.legacy-slide-toggle-theme($rd-collector);
@include mat.datepicker-theme($rd-collector);
